<main>
  <h2>Movies Gallery</h2>

  @if (movies$ | async; as movies) { @if (movies.length > 0) {
  <div class="gallery-grid">
    @for (movie of movies; track movie.id) {

    <mat-card class="movie-card">
      <div class="img-wrapper">
        <img
          mat-card-image
          [src]="
            movie.poster_path
              ? tmdb.img(movie.poster_path, 'w342')
              : 'images/placeholder.jpg'
          "
          [alt]="movie.title"
        />
      </div>
      <mat-card-content class="content">
        @if(isAuth$ | async) {
        <mat-icon
          [ngClass]="{
            'in-watchlist':
              watchListService.isMovieInWatchlist(movie.id) | async
          }"
          class="favorite-icon"
          (click)="toggleFavorite($event, movie)"
          >favorite</mat-icon
        >
        }
        <a [routerLink]="['/movie', movie.id]" class="movie-link">
          <h3 class="title">{{ movie.title }}</h3>
        </a>
        <p class="release">{{ movie.release_date | date : "longDate" }}</p>
      </mat-card-content>
    </mat-card>
    }
  </div>
  } @else {
  <p class="no-results">Nothing was found</p>
  } }
</main>
