<header class="app-header">
  <div class="header-wrapper">
    <div class="left-section">
      <div class="logo">IMDB</div>
      <button class="menu-button" (click)="toggleMenu()">☰</button>
    </div>

    <div class="search-section">
      <select [(ngModel)]="searchCategory">
        <option value="all">All</option>
        <option value="movies">Movies</option>
        <option value="actors">Actors</option>
      </select>
      <input type="text" [(ngModel)]="query" />
      <button (click)="search()">🔍</button>
    </div>

    <div class="right-section">
      <a routerLink="/materials">Watchlist</a>
      @if (!isAuthenticated) {
      <a [routerLink]="['/signin']">SignIn</a>
      } @else {
      <div class="logout-menu">
        <p class="user-email">{{ user?.email }}</p>
        <button class="logout-button">
          <mat-icon class="logout-icon" (click)="logout()">logout</mat-icon>
        </button>
      </div>
      }

      <button class="lang-button">EN</button>
    </div>
  </div>

  <app-menu *ngIf="menuOpen$ | async"></app-menu>
</header>