<section class="highlights-text">
  <h2 class="section-title">{{ "highlights.title" | translate }}</h2>

  <div class="news-list">
    @for (h of highlights$ | async; track h.id) {
    <mat-card class="news-card" (click)="openMovie(h)">
      <mat-card-content>
        <h3 class="title">{{ h.title }}</h3>
        <p class="overview">{{ h.overview }}</p>
      </mat-card-content>

      <mat-card-actions>
        <button mat-button color="primary" (click)="$event.stopPropagation(); openTrailerModal(h)">▶ {{ "highlights.trailer" | translate }}</button>
      </mat-card-actions>
    </mat-card>
    }
  </div>
</section>