<footer>
  <div class="main-info">

    <div class="box">
      <p class="box__title">Developers on Github</p>
      <a href="https://github.com/yourunb" class="box__link">
        <img src="https://avatars.githubusercontent.com/u/124175026?v=4" alt="git"/>
        <span>Yury</span>
      </a>
      <a href="https://github.com/anastan588" class="box__link">
        <img src="https://avatars.githubusercontent.com/u/106033630?v=4" alt="git"/>
        <span>Anastasiya</span>
      </a>
      <a href="https://github.com/RamanMilashevich" class="box__link">
        <img src="https://avatars.githubusercontent.com/u/120730803?v=4" alt="git"/>
        <span>Roman</span>
      </a>
    </div>
    
    <div class="box">
      <p class="box__title">About study</p>
      <a href="https://rs.school/" class="box__link">
        <img src="images/rss-logo.svg" alt="rss"/>
        <span>RS School</span>
      </a>
      <a href="https://rs.school/courses/angular" class="box__link">
        <img src="images/angular.svg" alt="rss"/>
        <span>Angular Course</span>
      </a>
    </div>

    <p class="main-info__text">an study project</p>
    <p class="main-info__year">&copy; 2025</p>
  </div>
</footer>
