<footer>
  <div class="main-info">
    <div class="box">
      <p class="box__title">{{ "footer.box__title_1" | translate }}</p>
      <a href="https://github.com/yourunb" class="box__link">
        <img
          src="https://avatars.githubusercontent.com/u/124175026?v=4"
          alt="git"
        />
        <span>{{ "footer.box__link.yury" | translate }}</span>
      </a>
      <a href="https://github.com/anastan588" class="box__link">
        <img
          src="https://avatars.githubusercontent.com/u/106033630?v=4"
          alt="git"
        />
        <span>{{ "footer.box__link.anastasiya" | translate }}</span>
      </a>
      <a href="https://github.com/RamanMilashevich" class="box__link">
        <img
          src="https://avatars.githubusercontent.com/u/120730803?v=4"
          alt="git"
        />
        <span>{{ "footer.box__link.roman" | translate }}</span>
      </a>
    </div>

    <div class="box">
      <p class="box__title">{{ "footer.box__title_2" | translate }}</p>
      <a href="https://rs.school/" class="box__link">
        <img src="images/rss-logo.svg" alt="rss" />
        <span>{{ "footer.box__link.school" | translate }}</span>
      </a>
      <a href="https://rs.school/courses/angular" class="box__link">
        <img src="images/angular.svg" alt="rss" />
        <span>{{ "footer.box__link.course" | translate }}</span>
      </a>
    </div>

    <p class="main-info__text">{{ "footer.main-info__text" | translate }}</p>
    <p class="main-info__year">&copy; 2025</p>
  </div>
</footer>
