<footer>
  <div>

    <div class="box">
      <p class="box__title">Developers on Github</p>
      <a href="https://github.com/yourunb" class="box__link">
        <img src="https://avatars.githubusercontent.com/u/124175026?v=4" alt="git"/>
        <span>Yury</span>
      </a>
      <a href="https://github.com/anastan588" class="box__link">
        <img src="https://avatars.githubusercontent.com/u/106033630?v=4" alt="git"/>
        <span>Anastasia</span>
      </a>
      <a href="https://github.com/RamanMilashevich" class="box__link">
        <img src="https://avatars.githubusercontent.com/u/120730803?v=4" alt="git"/>
        <span>Roman</span>
      </a>
    </div>
    
    <div>RS School</div>
  </div>
</footer>
