<main class="signup-page">
  <form [formGroup]="signupForm" class="signup-form" (ngSubmit)="onSubmit()">
    <p class="signup-form-title">{{ "sinup.title" | translate }}</p>
    <mat-form-field>
      <mat-label>{{ "sinup.email" | translate }}</mat-label>
      <input
        matInput
        type="email"
        formControlName="email"
        autocomplete="email"
        (input)="markEmailAsTouched()"
      />
      @if ( signupForm.get("email")?.invalid
      ) {
      <mat-error>
        {{ userEmailErrors() }}
      </mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ "sinup.password" | translate }}</mat-label>
      <input
        matInput
        [type]="isHide ? 'password' : 'text'"
        formControlName="password"
        autocomplete="current-password"
        (input)="markPasswordAsTouched()"
      />
      <button
        matIconButton
        matSuffix
        (click)="hidePassword($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="isHide"
      >
        <mat-icon>{{ isHide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      @if (signupForm.get("password")?.invalid) {
      <mat-error>
        {{ passWordErrors() }}
      </mat-error>
      }
    </mat-form-field>
    <button
      class="signup-button"
      mat-button="elevated"
      [disabled]="signupForm.invalid"
    >
      {{ "sinup.register" | translate }}
    </button>
    <div class="signup-links">
      <p>{{ "sinup.account" | translate }}</p>
      <a [routerLink]="['/signin']">{{ "sinup.signin" | translate }}</a>
    </div>
  </form>
</main>
