.container {
    display: flex;
    margin: 0 auto;
    max-width: 1400px;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
