<section class="now-playing-section">
  <div class="section-wrapper">
    <h2 class="section-title">🎟 {{ "playing-theaters" | translate }}</h2>

    <div class="slider-wrapper">
      @if (movies$ | async; as movies) {
      @if (cardWidth$ | async; as cardWidth) {

      <button mat-icon-button class="nav prev" (click)="scroll('prev', cardWidth)">
        <mat-icon>chevron_left</mat-icon>
      </button>

      <div class="slider" #slider>
        @for (movie of movies; track movie.id) {
        <app-movie-card variant="compact" [movie]="{
                  id: movie.id,
                  title: movie.title,
                  poster_path: movie.poster_path,
                  release_date: movie.release_date,
                  inWatchlist: (watchListService.isMovieInWatchlist(movie.id) | async) ?? false
                }" [posterUrl]="movie.poster_path" [showFavorite]="(isAuth$ | async) ?? false"
          (favorite)="toggleFavorite(movie)">
        </app-movie-card>
        }
      </div>

      <button mat-icon-button class="nav next" (click)="scroll('next', cardWidth)">
        <mat-icon>chevron_right</mat-icon>
      </button>

      }
      }
    </div>
  </div>
</section>
