<mat-select
  panelClass="language-select"
  [(ngModel)]="selectedLang"
  (selectionChange)="onLanguageChange($event.value)"
  required
  (click)="changeSelectStatus()"
  [attr.aria-required]="true"
  [attr.aria-invalid]="!selectedLang"
  aria-describedby="language-error"
>
  <mat-select-trigger>{{ selectedLang }}</mat-select-trigger>

  @for (language of languages; track language.shortValue) {
    <mat-option
      [value]="language.shortValue"
      panelClass="language-item"
      [ngClass]="{ selected: selectedLang === language.shortValue }"
      [attr.aria-label]="language.fullValue[selectedLang.toLowerCase()]"
    >
      <img
        [src]="language.image"
        [alt]="language.shortValue"
        class="language-icon"
      />
      <p class="language-text">
        {{ language.fullValue[selectedLang.toLowerCase()] }}
      </p>
    </mat-option>
  }
</mat-select>

@if (!selectedLang) {
  <mat-error id="language-error" role="alert">
    {{ "select-lang" | translate }}
  </mat-error>
}
