main {
  min-height: calc(100vh - 258px);
}

.movie-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  padding: 10px;
}

.favorite-icon {
  cursor: pointer;
}

.favorite-icon:hover {
 color:#f5c518 ; 
}

.favorite-icon {
  color: white;
  cursor: pointer;
  height: 50px;
  font-size: 32px;
  width: 32px;
}

.favorite-icon:hover {
  color: #f5c518;
}

.in-watchlist {
  color: red;
}
.title:hover {
  color: #f5c518;
}
